/* container for fields and shapes */
#tetris div.field-container {
	position: relative;
	overflow: hidden;
	border: 1px solid black;
}
/* field or shape */
#tetris div.field-container > div {
	position: absolute;
}
/* row */
#tetris div.field-container > div > div {
	position: relative;
}

/* block */
#tetris div.field-container > div > div > div {
	position: absolute;
}

#tetris .shape > div > div {
	margin: 0 1px 0 0;
}
#tetris .shape > div {
	margin: 0 0 1px 0;
}

#tetris .tetris-field > div > div {
	border-right: 1px solid #f5f5f5;
}
#tetris .tetris-field > div {
	overflow: hidden;
	border-bottom: 1px solid #f5f5f5;
	transition: height 0.2s;
}

#tetris .shape {
	transition: top 0.1s;
}

.cyan {
	background-color: cyan;
}

.blue {
	background-color: blue;
}

.orange {
	background-color: orange;
}

.magenta {
	background-color: magenta;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}
